<!-- Jinja2 template based on https://github.com/linkml/linkml/blob/main/linkml/generators/docgen/schema.md.jinja2 -->
<!-- This file should be periodically checked against the original source -->
<!-- Last check 25 August 2023 -->

# {{ schema.name }}

{{ schema.description }}

URI: {{ schema.id }}